# Bağımlılıkların yüklendiği klasörler
node_modules/
vendor/

# Derleme ve geçici dosyalar
*.log
*.tmp
*.cache

# İşletim sistemi dosyaları
.DS_Store       # MacOS
Thumbs.db       # Windows
desktop.ini

# IDE ve düzenleyici dosyaları
.vscode/
.idea/
*.iml

# Sürüm kontrolü dışı bırakmak istediğiniz belirli dosyalar
config.php      # Gizli yapılandırma dosyaları
.env            # Ortam değişkenleri

# Kişisel notlar veya test dosyaları
notes.txt
test.html
